*{
    font-family: Tahoma, Verdana, sans-serif;
    font-style: normal;
    font-size:18px;
}

.jersi_button_class{
    color:black;
    background-color:khaki;

    text-align:center;
    line-height:100%;

    padding-left:8px;
    padding-right:8px;
    padding-top:8px;
    padding-bottom:8px;

    border-style:none;
    border-width:0px;

    margin:0px;

    outline-style:none;
    outline-width:0px;
}

.jersi_button_class:disabled{
    opacity:0.5;
}

.jersi_buttonGroup_class{
    display:inherit;

    padding-left:0px;
    padding-right:24px;
    padding-top:0px;
    padding-bottom:0px;

    border-style:solid;
    border-width:0px;

    margin:0px;

    outline-style:none;
    outline-width:0px;
}

.jersi_buttonZone_class{
    display:block;

    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;

    border-style:none;
    border-width:0px;

    margin:2px;

    outline-style:none;
    outline-width:0px;
}

.jersi_cell_class{
    position:absolute;
}

.jersi_cell_selected_class{
    /* outline-style:outset !important;
    outline-color:white !important;
    outline-width:2px !important; */
}

.jersi_cell_unselected_class{
}

.jersi_cell_name_class{
    text-align:left;
    font-size:60%;

    padding-left:1px;
    padding-right:0px;
    padding-top:70%;
    padding-bottom:0px;

    border-style:none;
    border-width:0px;

    margin:0px;

    outline-style:none;
    outline-width:0px;
}

.jersi_column_class{
    float:left;
    margin-right:20px;
}

.jersi_cube_class{
    padding:0px;
    margin:0px;

    outline-style:none;
    outline-width:0px;

    background-origin:content-box;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;

    position:absolute;

    transition-property:all;
    transition-duration: 300ms;
}

.jersi_cube_selected_class{
    box-shadow: 8px 8px 8px black !important;
    transform: scale(1.25) !important;
    outline-style:outset !important;
    outline-color:white !important;
    outline-width:2px !important;
}

.jersi_cube_unselected_class{
}

.jersi_cube_void_class{
    background-image:none;
}

/* --- JERSI_BEGIN: cube sorts  --- */

.jersi_cube_king_black_class{
    background-image:url(img/king-black.png);
    box-shadow: 4px 4px 4px black;
}

.jersi_cube_king_white_class{
    background-image:url(img/king-white.png);
    box-shadow: 4px 4px 4px black;
}

.jersi_cube_fool_black_class{
    background-image:url(img/fool-black.png);
    box-shadow: 4px 4px 4px black;
}

.jersi_cube_fool_white_class{
    background-image:url(img/fool-white.png);
    box-shadow: 4px 4px 4px black;
}

.jersi_cube_wise_black_class{
    background-image:url(img/wise-black.png);
    box-shadow: 4px 4px 4px black;
}

.jersi_cube_wise_white_class{
    background-image:url(img/wise-white.png);
    box-shadow: 4px 4px 4px black;
}

.jersi_cube_mountain_black_class{
    background-image:url(img/mountain-black.png);
    box-shadow: 4px 4px 4px black;
}

.jersi_cube_mountain_white_class{
    background-image:url(img/mountain-white.png);
    box-shadow: 4px 4px 4px black;
}

.jersi_cube_rock_black_class{
    background-image:url(img/rock-black.png);
    box-shadow: 4px 4px 4px black;
}

.jersi_cube_rock_white_class{
    background-image:url(img/rock-white.png);
    box-shadow: 4px 4px 4px black;
}

.jersi_cube_paper_black_class{
    background-image:url(img/paper-black.png);
    box-shadow: 4px 4px 4px black;
}

.jersi_cube_paper_white_class{
    background-image:url(img/paper-white.png);
    box-shadow: 4px 4px 4px black;
}

.jersi_cube_scissors_black_class{
    background-image:url(img/scissors-black.png);
    box-shadow: 4px 4px 4px black;
}

.jersi_cube_scissors_white_class{
    background-image:url(img/scissors-white.png);
    box-shadow: 4px 4px 4px black;
}

/* --- JERSI_END: cube sorts  --- */

.jersi_debug_messages_class{
    color:inherit;
    background-color:inherit;
}

.jersi_debug_mousePosition_class{
    color:white;
    background-color:black;

    text-align:center;
    line-height:100%;

    padding-left:8px;
    padding-right:8px;
    padding-top:6px;
    padding-bottom:6px;

    border-style:none;
    border-width:0px;

    margin:0px;

    outline-style:none;
    outline-width:0px;
}

.jersi_debugZone_class{
    display:block;

    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;

    border-style:dashed none none none;
    border-width:1px;
    border-color:black;

    margin:2px;

    outline-style:none;
    outline-width:0px;
}

.jersi_drawZone_class{
    height:600px;
    width:600px;

    padding:0px;
    margin:2px;

    outline-style:none;
    outline-width:0px;

    background-image:url(img/jersi_board.png);
    background-origin:content-box;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;

    box-shadow: 5px 5px 15px black;

    position:relative;
}

.jersi_logo_class{
    color:black;
    background-color:white;

    text-align:center;
    position:absolute;
    right:0px;
    line-height:200%;

    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:0px;

    border-style:none;
    border-width:0px;

    margin:0px;

    outline-style:none;
    outline-width:0px;
}
